<template>
  <label class="accelerator col">
    <span>{{ label }}</span>
    <span class="row">
      <slot>
        <input
          :value="valueComp"
          readonly
          autocomplete="off"
          :placeholder="placeholder"
          @click="record"
        >
      </slot>
    </span>
  </label>
</template>

<script>
import Mousetrap from 'mousetrap'
import MousetrapRecord from 'mousetrap-record'

const MS = MousetrapRecord(Mousetrap)

function Normalize(val) {
  val = val.replace(/meta/gi, 'command')

  return val.toUpperCase()
}

export default {
  props: {
    value: [String],
    label: String,
  },
  data() {
    return {
      recording: false,
    }
  },
  computed: {
    placeholder() {
      return this.recording ? 'Listening for keypress' : 'Click to register'
    },
    valueComp() {
      if (this.recording) return null
      return this.value
    },
  },
  methods: {
    record() {
      this.recording = true
      MS.record(seq => {
        this.recording = false
        this.$emit('input', Normalize(seq[0]))
      })
    },
  },
}
</script>

<style lang="scss">
.accelerator {
  color: $primary;

  & + & {
    margin-top: 1.4rem;
  }

  input,
  select {
    margin-top: 5px;
    padding-bottom: 0.25em;
    font-size: 1.4em;
    color: $secondary;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;

    &:focus {
      outline: none;
      border-bottom: 1px solid rgba(black, 0.2);
    }
  }
}
</style>