<template>
  <button class="action circle-button circle-button--huge">
    <font-awesome-icon :icon="['fas', 'play']" size="2x"/>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss">
.action {
  svg {
    position: relative;
    left: 3px;
  }
}
</style>