<template>
  <div class="counter" :class="{ 'counter--primary': primary }">
    <div class="counter__value">
      <div v-if="big" class="counter__hour">{{ big }}</div>
      <div class="counter__separator"></div>
      <div class="counter__minute">{{ small | digits }}</div>
    </div>
    <div class="row end middle">
      <slot name="label-before"></slot>
      <div v-if="label || showUnit" class="counter__label">{{ label || unit || elapsed.unit }}</div>
      <slot name="label-after"></slot>
    </div>
  </div>
</template>

<script>
import Elapsed from '@/utils/elapsed'

export default {
  props: {
    primary: Boolean,
    value: Number,
    label: String,
    minUnit: {
      type: String,
      enum: ['Sec', 'Min'],
    },
    showUnit: Boolean,
  },
  computed: {
    unit() {
      if (this.minUnit) return this.minUnit
    },
    elapsed() {
      return Elapsed.calculate(this.value, { unit: this.unit })
    },
    big() {
      return this.elapsed.values[0]
    },
    small() {
      return this.elapsed.values[1]
    },
  },
  filters: {
    digits(val) {
      if (val < 10) return '0' + val
      return val
    },
  },
}
</script>

<style lang="scss">
.counter {
  font-weight: 500;
  color: $secondary;

  &--primary {
    color: $primary;
  }

  &__value {
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 1;
  }

  &__label {
    font-weight: 0.5em;
    color: $tertiary;
    text-align: right;
  }

  &__separator {
    width: 0.07em;
    min-width: 2px;
    height: 0.35em;
    margin: 0 3px;
    border-radius: 20px;
    background-color: currentColor;
  }
}
</style>