<template>
  <div class="date-input">
    <input
      class="date-input__input"
      type="date"
      :min="options.min"
      :max="options.max"
      v-model="valueComp"
    >
  </div>
</template>

<script>
import moment from '@/utils/moment'

export default {
  props: {
    value: [Date, String],
    options: Object,
  },
  computed: {
    time() {
      return moment(this.value)
    },
    valueComp: {
      get() {
        return moment(this.value).format('YYYY-MM-DD')
      },
      set(val) {
        this.$emit(
          'input',
          moment(val)
            .hour(this.time.hour())
            .minute(this.time.minute())
            .toDate(),
        )
      },
    },
  },
}
</script>

<style lang="scss">
.date-input {
  &__input {
    max-width: 185px;
  }
}
</style>