<template>
  <div class="dayline" :class="{ 'dayline--active': active }">
    <transition name="fade-down">
      <div v-if="value > 60000 && !active">
        <Counter class="dayline__value" :value="value" min-unit="Min"></Counter>
      </div>
    </transition>
    <transition name="height">
      <div v-if="this.value" class="dayline__bar" :style="barStyle"></div>
    </transition>
    <div class="dayline__label">{{ label }}</div>
  </div>
</template>

<script>
import Counter from '@/components/Counter'
export default {
  props: {
    label: String,
    compact: Boolean,
    active: Boolean,
    value: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    barStyle() {
      let full = 1000 * 60 * 60 * 9
      let value = Math.min(full, this.value)
      let percent = Math.round((value / full) * 100) / 100

      let max = this.compact ? 40 : 100
      let style = {
        height: percent * max + 'px',
      }

      return style
    },
  },
  components: {
    Counter,
  },
}
</script>

<style lang="scss">
.dayline {
  width: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba($primary, 0.05);
  }

  &--active,
  &--active .dayline__bar {
    color: $primary;
  }

  &__value {
    transform: rotate(-90deg);
    font-size: 0.3rem;
    font-weight: inherit;
    margin-top: 1rem;
  }

  &__bar {
    width: 4px;
    height: 0px;
    margin: 20px 0 10px 0;
    border-radius: 20px;
    color: $tertiary;
    background-color: currentColor;

    transition: height 150ms ease-in;
  }

  &__label {
    $size: 30px;

    height: $size;
    width: $size;
    border-radius: 50%;
    text-align: center;
    line-height: $size + 2px;
  }
}
</style>