<template>
  <button class="entry row top">
    <div class="grow-1 col bottom mr-4">
      <div class="entry__title">{{ title || 'Task' }}</div>
      <div class="entry__subtitle">{{ subtitle || 'Project' }}</div>
    </div>
    <Counter :value="value" primary min-unit="Min" class="entry__value"/>
  </button>
</template>

<script>
import Counter from '@/components/Counter'

export default {
  props: {
    title: String,
    subtitle: String,
    value: Number,
  },
  components: {
    Counter,
  },
}
</script>

<style lang="scss">
.entry {
  line-height: 1;

  & + & {
    margin-top: 2rem;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__subtitle {
    opacity: 0.5;
    font-size: 0.8em;
  }

  &__value {
    font-weight: bold;
    font-size: 0.4em;
    width: 70px;
  }
}
</style>