<template>
  <label class="input col">
    <span>{{ label }}</span>
    <span class="row">
      <slot>
        <input
          v-model="valueComp"
          :type="type"
          :list="id"
          autocomplete="off"
          :placeholder="placeholder"
        >
      </slot>
    </span>

    <datalist v-if="items" :id="id">
      <option v-for="(item, i) in items" :key="i">{{ item }}</option>
    </datalist>
  </label>
</template>

<script>
import nanoid from 'nanoid'
export default {
  props: {
    value: [String],
    placeholder: {
      type: String,
      default: '...',
    },
    label: String,
    items: Array,
    type: {
      type: String,
      default: 'text',
    },
  },
  data() {
    return {
      id: nanoid(),
    }
  },
  computed: {
    valueComp: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
}
</script>

<style lang="scss">
.input {
  color: $primary;

  & + & {
    margin-top: 1.4rem;
  }

  input,
  select {
    margin-top: 5px;
    padding-bottom: 0.25em;
    font-size: 1.4em;
    color: $secondary;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;

    &:focus {
      outline: none;
      border-bottom: 1px solid rgba(black, 0.2);
    }
  }
}
</style>