<template>
  <div class="time-input row middle">
    <input
      class="time-input__input text-right"
      size="2"
      type="number"
      min="0"
      max="23"
      v-model="hour"
    >
    <span>:</span>
    <input class="time-input__input" size="2" type="number" min="0" max="59" v-model="minute">
  </div>
</template>

<script>
import moment from '@/utils/moment'

export default {
  props: {
    value: [Date, String],
  },
  computed: {
    hour: {
      get() {
        return moment(this.value).format('HH')
      },
      set(val) {
        this.$emit(
          'input',
          moment(this.value)
            .hour(val)
            .toDate(),
        )
      },
    },
    minute: {
      get() {
        return moment(this.value).format('mm')
      },
      set(val) {
        this.$emit(
          'input',
          moment(this.value)
            .minute(val)
            .toDate(),
        )
      },
    },
  },
}
</script>

<style lang="scss">
.time-input {
  color: $secondary;
}
</style>