<template>
  <div class="weekly" :class="{ 'weekly--compact': compact}">
    <div class="weekly__header row end">
      <Counter :value="weekValue" min-unit="Min" :label="date | week"></Counter>
      <button
        v-if="!compact"
        slot="label-before"
        @click="moveWeek(-1)"
        class="weekly__navigation weekly__navigation-prev mr-1"
      >
        <font-awesome-icon :icon="['fal', 'angle-left']" size="lg"/>
      </button>
      <button
        v-if="!isNow && !compact"
        slot="label-after"
        @click="moveWeek(1)"
        class="weekly__navigation weekly__navigation-next ml-1"
      >
        <font-awesome-icon :icon="['fal', 'angle-right']" size="lg"/>
      </button>
    </div>
    <div v-if="dates.length" class="weekly__items row between bottom mt-2">
      <DayLine
        v-for="(d, i) in dates"
        :key="i"
        @click.native="$router.push({ name: 'Date', params: { date: d.date } })"
        :compact="compact"
        :label="d.label"
        :active="isToday(d.date)"
        :value="d.value"
      ></DayLine>
      <transition name="fade-down">
        <img
          v-if="isEmpty"
          src="@/assets/cactus-sleep.svg"
          :width="compact ? 80 : 150"
          class="weekly__placeholder"
        >
      </transition>
    </div>
  </div>
</template>

<script>
import moment from '@/utils/moment'
import Counter from '@/components/Counter'
import DayLine from '@/components/DayLine'
import { Carousel, Slide } from 'vue-carousel'
export default {
  props: {
    date: [Date, String],
    compact: Boolean,
  },
  computed: {
    weekValue() {
      return this.$store.getters.getWeekValueByDate(this.date)
    },
    isNow() {
      return moment().isSame(this.date, 'w')
    },
    isEmpty() {
      return this.dates.every(d => !d.value)
    },
    dates() {
      let base = moment(this.date).startOf('week')

      return [0, 1, 2, 3, 4, 5, 6].map(i => {
        let date = moment(base)
          .add(i, 'd')
          .toDate()
        return {
          date,
          label: this.getDayLabel(date),
          value: this.getDayValue(date),
        }
      })
    },
  },
  methods: {
    moveWeek(delta) {
      this.$emit(
        'navigation',
        moment(this.date)
          .add(delta, 'w')
          .toDate(),
      )
    },
    getDayLabel(date) {
      return moment(date)
        .format('dddd')
        .substring(0, 1)
    },
    getDayValue(date) {
      return this.$store.getters.getValueByDate(date)
    },
    isToday(date) {
      return moment().isSame(date, 'day')
    },
  },
  filters: {
    week(val) {
      if (moment().isSame(val, 'w')) return 'This week'
      return (
        moment(val)
          .startOf('w')
          .format('DD. MMM') +
        ' - ' +
        moment(val)
          .endOf('w')
          .format('DD. MMM')
      )
    },
  },
  components: {
    Counter,
    DayLine,
    Carousel,
    Slide,
  },
}
</script>

<style lang="scss">
.weekly {
  &__items {
    position: relative;
    margin-left: -$layout-spacing;
    margin-right: -$layout-spacing;
    padding: $layout-spacing $layout-spacing $layout-spacing/2 $layout-spacing;
    background: linear-gradient(to bottom, rgba($primary, 0.03), rgba(adjust-hue($primary, -10), 0.03));

    height: 230px;

    .weekly--compact & {
      height: 180px;
    }
  }

  &__header {
    position: relative;
  }

  &__placeholder {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__navigation {
    opacity: 0.5;
    position: absolute;
    bottom: -2px;

    &-next {
      right: -$layout-spacing/2;
    }

    &-prev {
      left: -$layout-spacing/2;
    }
  }
}
</style>

