$namespace: '';
$grids: 6;
$spacing: 0.5rem;

@import '_layout';
@import '_wrapping';
@import '_sizing';
@import '_order';

.#{$namespace}row,
.#{$namespace}col {
  display: flex;

  & > * {
    order: 99;
  }
}

.#{$namespace}row-inline,
.#{$namespace}col-inline {
  display: inline-flex;

  & > * {
    order: 99;
  }
}

.#{$namespace}col {
  flex-direction: column;
}

.#{$namespace}reverse {
  &.#{$namespace}row {
    flex-direction: row-reverse;
  }

  &.#{$namespace}col {
    flex-direction: column-reverse;
  }
}
