$animation-time: 200ms;
$animation-distance: 2rem;

$pointerDistance: 3px;
@keyframes pointVertical {
  0% {
    transform: translateY(-$pointerDistance);
  }
  50% {
    transform: translateY($pointerDistance);
  }
  100% {
    transform: translateY(-$pointerDistance);
  }
}

@keyframes pointHorizontal {
  0% {
    transform: translateX(-$pointerDistance);
  }
  50% {
    transform: translateX($pointerDistance);
  }
  100% {
    transform: translateX(-$pointerDistance);
  }
}

.point-vertical {
  animation: pointVertical 2s infinite ease-out;
}
.point-horizontal {
  animation: pointHorizontal 2s infinite ease-out;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes loader {
  to {
    transform: translateX(500%);
  }
}
