$directions: (('top', 't'), ('left', 'l'), ('bottom', 'b'), ('right', 'r'));

$space: 0.5rem;
$count: 16;

@for $i from 0 through $count {
  .m-#{$i} {
    margin: $i * $space;
  }

  .mx-#{$i} {
    margin-left: $i * $space;
    margin-right: $i * $space;
  }

  .my-#{$i} {
    margin-top: $i * $space;
    margin-bottom: $i * $space;
  }

  .p-#{$i} {
    padding: $i * $space;
  }

  .px-#{$i} {
    padding-left: $i * $space;
    padding-right: $i * $space;
  }

  .py-#{$i} {
    padding-top: $i * $space;
    padding-bottom: $i * $space;
  }

  .g-#{$i} {
    margin: $i * -$space;

    & > * {
      margin: $i * $space;
    }
  }

  .gp-#{$i} {
    margin: $i * -$space;

    & > * {
      padding: $i * $space;
    }
  }

  @each $d in $directions {
    .m#{nth($d,2)}-#{$i} {
      margin-#{nth($d,1)}: $space * $i;
    }

    .p#{nth($d,2)}-#{$i} {
      padding-#{nth($d,1)}: $space * $i;
    }

    .b#{nth($d,2)} {
      border-#{nth($d,1)}: 1px solid $border-color;
    }

    .b#{nth($d,2)}-dashed {
      border-#{nth($d,1)}: 1px dashed $border-color;
    }
  }
}

.p-0 {
  padding: 0 !important;
}

.b-0 {
  border: none !important;
}

.m-0 {
  margin: 0 !important;
}

.rounded {
  border-radius: $border-radius;
}

.container {
  max-width: $limit;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.view {
  padding: $layout-spacing/1.5 $layout-spacing $layout-spacing;
  flex-grow: 1;
  background-color: white;

  &--partial {
    flex-grow: initial;
  }
}
