*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

input,
textarea,
button,
select {
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

strong,
b {
  font-weight: 600;
}

input,
textarea,
button {
  -webkit-appearance: none;
}

label {
  font-weight: bold;
}

button:focus,
label:focus,
input:focus,
select:focus,
textarea:focus {
  outline-color: $primary;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) label:focus {
  outline: none;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
