.height-enter-active,
.height-leave-active {
  transition: height 250ms ease-in;
}
.height-enter,
.height-leave-to {
  height: 0px;
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}
.fade-down-enter,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-left-enter-active,
.fade-left-leave-active {
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}
.fade-left-enter,
.fade-left-leave-to {
  opacity: 0;
  transform: translateX(10%);
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: opacity 150ms ease, transform 150ms ease;
}
.fade-up-enter,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(50%);
}
