/* Utils */
@import 'utils/_guess-color';

/* Base */
@import 'base/_variables';
@import 'base/_color';
@import 'base/_reset';
@import 'base/_anchor';
@import 'base/_text';
@import 'base/_transitions';

/* Layout */
@import 'flex/_flex';
@import 'grid/_grid';

/* Components */
@import 'components/button';

/* Base (most important) */
@import 'base/_layout';

html {
  font-size: 16px;
  font-family: 'Nunito', -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
