<template>
  <div class="view day">
    <div class="row between top mb-6">
      <button @click="$router.go(-1)">
        <font-awesome-icon :icon="['fal', 'angle-up']" size="2x"/>
      </button>
      <Counter :value="value" primary :label="date | calendar"/>
    </div>

    <div v-if="entries.length" class="day__entries col bottom">
      <Entry
        class="shrink-0"
        v-for="entry in entries"
        :key="entry.id"
        @click.native="$router.push({ name: 'Edit', params: { id: entry.id } })"
        :title="entry.task"
        :subtitle="entry.project"
        :value="getValueByEntry(entry)"
      />
    </div>

    <div v-if="!entries.length" class="day__empty row middle center grow-1">
      <img src="@/assets/cactus-sleep.svg" width="175" class="mb-12">
    </div>

    <button @click="create" class="day__create circle-button">
      <font-awesome-icon :icon="['fal', 'plus']"/>
    </button>
  </div>
</template>

<script>
import Counter from '@/components/Counter'
import Entry from '@/components/Entry'
import moment from '@/utils/moment'

export default {
  props: {
    date: [Date, String],
  },
  computed: {
    value() {
      return this.$store.getters.getValueByDate(this.date)
    },
    entries() {
      return this.$store.getters.getEntriesByDate(this.date)
    },
  },
  methods: {
    getValueByEntry(entry) {
      return this.$store.getters.getValueByEntry(entry)
    },
    create() {
      let s = moment(this.date)
        .hour(moment().hour())
        .minute(moment().minute())

      this.$router.push({
        name: 'Create',
        query: {
          start: s.toJSON(),
          end: s.add(1, 'h').toJSON(),
        },
      })
    },
  },
  filters: {
    calendar(val) {
      return moment(val).calendar(null, {
        sameDay: '[Today]',
        nextDay: '[Tomorrow]',
        nextWeek: 'dddd',
        lastDay: '[Yesterday]',
        lastWeek: '[Last] dddd',
        sameElse: 'DD/MM/YYYY',
      })
    },
  },
  components: {
    Counter,
    Entry,
  },
}
</script>

<style lang="scss">
.day {
  &__create {
    position: absolute;
    bottom: $layout-spacing;
    right: $layout-spacing;
  }

  &__entries {
    margin: 0 (-$layout-spacing);
    padding: 0 $layout-spacing;

    height: 390px;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
  }
}
</style>
