<template>
  <div class="view edit-page">
    <div class="row between top mb-3">
      <button @click="$router.go(-1)">
        <font-awesome-icon :icon="['fal', 'angle-up']" size="2x"/>
      </button>
      <h1>Editing</h1>
    </div>
    <InputComponent label="Project" type="list" :items="projects" v-model="item.project"/>
    <InputComponent label="Task" type="list" :items="tasks" v-model="item.task"/>
    <InputComponent label="Start">
      <Date v-model="item.start" :options="startOptions"/>
      <Time v-model="item.start"/>
    </InputComponent>
    <InputComponent label="End">
      <Date v-model="item.end" :options="endOptions"/>
      <Time v-model="item.end"/>
    </InputComponent>
    <div class="row center mt-3">
      <button @click="submit" class="circle-button circle-button--secondary">
        <font-awesome-icon :icon="['fal', 'check']"/>
      </button>
      <button @click="remove" class="circle-button circle-button--neutral">
        <font-awesome-icon :icon="['fal', 'trash']"/>
      </button>
    </div>
  </div>
</template>

<script>
import Entry from '@/models/Entry'
import InputComponent from '@/components/Input'
import Date from '@/components/Date'
import Time from '@/components/Time'
import moment from '@/utils/moment'
export default {
  props: {
    id: String,
  },
  data() {
    return {
      item: null,
    }
  },
  computed: {
    startOptions() {
      return {
        maxDate: moment(this.item.end).format('MM/DD/YYYY'),
        largeOnly: true,
      }
    },
    endOptions() {
      return {
        minDate: moment(this.item.start).format('MM/DD/YYYY'),
        largeOnly: true,
      }
    },
    projects() {
      return this.$store.getters.Projects
    },
    tasks() {
      return this.$store.getters.Tasks
    },
  },
  methods: {
    submit() {
      this.$store.dispatch('UPDATE', this.item)
      this.$router.go(-1)
    },
    remove() {
      this.$store.dispatch('REMOVE', this.item)
      this.$router.go(-1)
    },
  },
  created() {
    this.item = new Entry(this.$store.getters.getEntryById(this.id), { clone: true })
  },
  components: {
    Date,
    Time,
    InputComponent,
  },
}
</script>

<style lang="scss">
</style>