<template>
  <div>
    <div class="view view--partial" style="padding-bottom: 0">
      <Weekly :date.sync="date" compact></Weekly>
    </div>
    <transition appear name="fade-up" mode="out-in">
      <div class="view view--partial entry-page">
        <label>What are you working on?</label>
        <div class="mt-2 mb-3">
          <button class="button" @click="$router.push({ name: 'Relation' })">
            <font-awesome-icon :icon="['fal', 'plus']" class="mr-1"/>
            <span>{{ current.project || 'Project'}}</span>
            <span>&</span>
            <span>{{ current.task || 'Task' }}</span>
          </button>
        </div>
        <hr>
        <div class="row center mt-2">
          <Counter class="entry-page__counter" show-unit :value="elapsed"></Counter>
        </div>
        <div class="row center mt-2">
          <button class="circle-button circle-button--secondary circle-button--large" @click="stop">
            <font-awesome-icon :icon="['fas', 'stop']" size="lg"/>
          </button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Weekly from '@/components/Weekly'
import Counter from '@/components/Counter'
export default {
  data() {
    return {
      date: new Date(),
    }
  },
  computed: {
    current() {
      return this.$store.state.Entry.current
    },
    elapsed() {
      return this.$store.state.Entry.elapsed
    },
  },
  methods: {
    stop() {
      this.$store.dispatch('STOP')
      this.$router.push({ name: 'Weekly' })
    },
  },
  components: {
    Counter,
    Weekly,
  },
}
</script>

<style lang="scss">
.entry-page {
  color: $primary-dark;
  background: linear-gradient(to bottom, adjust-hue($primary, 10), $primary);
  flex-grow: 1;

  &__counter {
    color: $primary-dark;
    .counter__label {
      color: inherit;
      text-align: center;
      font-weight: bold;
    }
  }

  hr {
    opacity: 0.2;
    border-color: $primary-dark;
  }
}

.button {
  cursor: pointer;
  background-color: rgba(black, 0.1);
  color: white;
  border-radius: $border-radius;
  padding: 0.5em 0.8em;
}
</style>