<template>
  <div class="view export-page">
    <div class="row between top mb-3">
      <button @click="$router.go(-1)">
        <font-awesome-icon :icon="['fal', 'angle-up']" size="2x"/>
      </button>
      <h1>Export</h1>
    </div>
    <InputComponent label="Project">
      <select v-model="projects" multiple size="2">
        <option v-for="project in projectData" :key="project" :value="project">{{ project }}</option>
      </select>
    </InputComponent>
    <InputComponent label="Start">
      <Date v-model="start" :options="startOptions"/>
    </InputComponent>
    <InputComponent label="End">
      <Date v-model="end" :options="endOptions"/>
    </InputComponent>
    <div class="row center mt-3">
      <button @click="submit" class="circle-button circle-button--secondary">
        <font-awesome-icon :icon="['fal', 'check']"/>
      </button>
    </div>
    <span
      style="text-align: center; opacity: .5;font-size: .8em;"
      class="mt-4"
    >Exports are stored inside your Downloads folder</span>
  </div>
</template>

<script>
import InputComponent from '@/components/Input'
import Date from '@/components/Date'
import moment from '@/utils/moment'
export default {
  props: {
    id: String,
  },
  data() {
    return {
      start: moment()
        .startOf('week')
        .toDate(),
      end: moment()
        .endOf('week')
        .toDate(),
      projects: [],
    }
  },
  computed: {
    startOptions() {
      return {
        maxDate: moment(this.end).format('MM/DD/YYYY'),
        largeOnly: true,
      }
    },
    endOptions() {
      return {
        minDate: moment(this.start).format('MM/DD/YYYY'),
        largeOnly: true,
      }
    },
    projectData() {
      return this.$store.getters.Projects
    },
  },
  methods: {
    submit() {
      this.$electron.ipcRenderer.send('export', {
        entries: this.$store.getters.getEntries({ start: this.start, end: this.end, projects: this.projects }),
      })
      this.$router.go(-1)
    },
  },
  components: {
    Date,
    InputComponent,
  },
}
</script>

<style lang="scss">
.export-page {
  select {
    border-bottom: none !important;
  }
  option {
    padding: 1px 3px;
    margin: 1px 0;
    border-radius: 3px;
  }
}
</style>