<template>
  <div class="view relation">
    <div class="row middle mb-3">
      <input v-model="search" type="search" placeholder="Search" class="relation__search grow-1">
      <font-awesome-icon :icon="['fal', 'search']"/>
    </div>

    <div class="relation-breadcrumb mb-3">
      <button
        @click="type = 'project'"
        class="relation-breadcrumb__item"
        :class="{ 'relation-breadcrumb__item--active': type === 'project'}"
      >{{ project || 'Project' }}</button>
      <span>&</span>
      <button
        @click="type = 'task'"
        class="relation-breadcrumb__item"
        :class="{ 'relation-breadcrumb__item--active': type === 'task'}"
      >{{ task || 'Task' }}</button>
    </div>

    <hr>

    <div class="relation__items">
      <div class="relation__item row between middle">
        <input
          v-model="input"
          type="text"
          placeholder="New item..."
          @keypress.enter="select(input)"
        >
        <button v-if="input" @click="select(input)">
          <font-awesome-icon :icon="['fal', 'check']"/>
        </button>
      </div>
      <button
        v-for="item in items"
        :key="item"
        class="relation__item"
        @click="select(item)"
      >{{ item }}</button>
    </div>

    <button class="circle-button circle-button--secondary relation__cancel" @click="$router.go(-1)">
      <font-awesome-icon :icon="['fal', 'times']" size="lg"/>
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: 'project',
      input: null,
      search: null,
    }
  },
  computed: {
    pattern() {
      if (!this.search) return
      return new RegExp(this.search, 'i')
    },
    projects() {
      return this.$store.getters.Projects.filter(item => !this.pattern || item.match(this.pattern))
    },
    tasks() {
      return this.$store.getters.Tasks.filter(item => !this.pattern || item.match(this.pattern))
    },
    project() {
      return this.current.project
    },
    task() {
      return this.current.task
    },
    current() {
      return this.$store.state.Entry.current
    },
    items() {
      let target = this[this.type + 's']

      return target
    },
  },
  methods: {
    select(item) {
      this.input = null
      this.$store.dispatch('UPDATE', { [this.type]: item })

      if (this.type === 'project') return (this.type = 'task')
      if (this.type === 'task' && !this.project) return (this.type = 'project')
      if (this.type === 'task' && this.project) return this.$router.go(-1)
    },
  },
  created() {
    if (!this.current) return
    if (this.current.project && !this.current.task) this.type = 'task'
  },
}
</script>

<style lang="scss">
.relation {
  background: linear-gradient(to bottom, adjust-hue($primary, 10), $primary);

  hr {
    border-color: rgba(black, 0.1);
  }

  ::selection {
    background: rgba(white, 0.2);
  }

  &__items {
    font-size: 1.2em;

    margin: 0 (-$layout-spacing);
    padding: 0 $layout-spacing;

    display: flex;
    flex-direction: column;

    height: 470px;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
  }

  &__item {
    color: white;
    text-align: left;
    padding: 0.5em 0;
    flex-shrink: 0;

    input {
      color: inherit;

      &::-webkit-input-placeholder {
        color: $primary-dark;
        opacity: 1;
      }
    }
  }

  &__search {
    &::-webkit-input-placeholder {
      color: $primary-dark;
      opacity: 1;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &__cancel {
    position: absolute;
    bottom: $layout-spacing;
    right: $layout-spacing;
  }

  &-breadcrumb {
    color: white;
    font-size: 1.4rem;

    &__item {
      color: darken($primary, 20%);

      &--active {
        color: white;
      }
    }
  }
}
</style>