<template>
  <div class="view edit-page">
    <div class="row between top mb-3">
      <button @click="$router.go(-1)">
        <font-awesome-icon :icon="['fal', 'angle-up']" size="2x"/>
      </button>
      <h1>Settings</h1>
    </div>
    <Accelerator label="Start tracking" v-model="settings.shortcuts.startTimer"/>
    <Accelerator label="Stop tracking" v-model="settings.shortcuts.stopTimer"/>
    <Accelerator label="Show/Hide" v-model="settings.shortcuts.show"/>
    <div class="row center mt-3">
      <button @click="submit" class="circle-button circle-button--secondary">
        <font-awesome-icon :icon="['fal', 'check']"/>
      </button>
    </div>
  </div>
</template>

<script>
import Clone from '@/utils/clone'
import Accelerator from '@/components/Accelerator'
export default {
  props: {
    id: String,
  },
  data() {
    return {
      settings: null,
      saved: false,
    }
  },
  computed: {},
  methods: {
    submit() {
      this.$electron.ipcRenderer.send('settings:set', this.settings)
      this.saved = true
      this.$router.push({ name: 'Weekly' })
    },
  },
  created() {
    this.$electron.ipcRenderer.send('shortcuts:toggle', false)
    this.settings = Clone(this.$store.state.Settings.settings)
  },
  beforeDestroy() {
    if (!this.saved) this.$electron.ipcRenderer.send('shortcuts:toggle', true)
  },
  components: {
    Accelerator,
  },
}
</script>

<style lang="scss">
</style>