<template>
  <div class="view">
    <Weekly :date="date" @navigation="onNavigation"></Weekly>
    <transition appear name="fade-down" mode="out-in">
      <div class="mt-4">
        <Counter :value="todayValue" min-unit="Min" primary label="Today"></Counter>
        <Action @click.native="create"></Action>
      </div>
    </transition>
  </div>
</template>

<script>
import Counter from '@/components/Counter'
import Weekly from '@/components/Weekly'
import Action from '@/components/Action'
export default {
  props: {
    date: {
      type: [Date, String],
      default: () => new Date(),
    },
  },
  computed: {
    todayValue() {
      return this.$store.getters.getValueByDate(this.date)
    },
  },
  methods: {
    onNavigation(date) {
      this.$router.push({ name: 'Weekly', params: { date } })
    },
    getTime(hour, minutes) {
      return 1000 * 60 * 60 * hour + 1000 * 60 * minutes
    },
    create() {
      this.$store.dispatch('START')
      this.$router.push({ name: 'Entry' })
    },
  },
  created() {
    if (this.$store.state.Entry.current) this.$router.push({ name: 'Entry' })
  },
  components: {
    Counter,
    Weekly,
    Action,
  },
}
</script>

<style lang="scss">
</style>