.circle-button {
  $size: 60px;

  background-color: $primary;
  color: white;

  width: $size;
  height: $size;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms ease;

  &:hover {
    background-color: darken(adjust-hue($primary, -7), 10%);
  }

  &--huge {
    $size: 160px;
    width: $size;
    height: $size;
  }

  &--large {
    $size: 85px;
    width: $size;
    height: $size;
  }

  &--small {
    $size: 35px;
    width: $size;
    height: $size;
  }

  &--neutral {
    background-color: transparent;
    color: $secondary;

    &:hover {
      background-color: transparent;
    }
  }

  &--secondary {
    background-color: $secondary;

    &:hover {
      background-color: darken(adjust-hue($secondary, -7), 10%);
    }
  }
}
