<template>
  <div id="app">
    <router-view class="router-view col"></router-view>
  </div>
</template>

<script>
export default {
  name: 'zeit',
}
</script>

<style lang="scss">
.router-view {
  min-height: 100vh;
}
</style>
